[GPIO]
# Initialize following GPIOs with given function and optional value
# This is used during WebIOPi start process

# 2 -> POOL LIGHT
2 = OUT 1
 
# 3 -> FILTRATION
3 = OUT 1

# 9 -> DOSI
9 = OUT 0

# 24 -> GARAGE DOOR
24 = IN


#------------------------------------------------------------------------#

[~GPIO]
# Reset following GPIOs with given function and optional value
# This is used at the end of WebIOPi stop process
#21 = IN
#23 = IN
#24 = IN
#25 = OUT 0

#------------------------------------------------------------------------#

[HTTP]
# HTTP Server configuration
enabled = true
port = 81

# File containing sha256(base64("user:password"))
# Use webiopi-passwd command to generate it
#passwd-file = /etc/webiopi/passwd

# Change login prompt message
#prompt = "WebIOPi"

# Use doc-root to change default HTML and resource files location
#doc-root = /home/pi/webiopi/examples/scripts/macros

# Use welcome-file to change the default "Welcome" file
#welcome-file = index.html

#------------------------------------------------------------------------#

[DEVICES]
# Device configuration syntax:
# name = device [args...]
#   name   : used in the URL mapping
#   device : device name
#   args   : (optional) see device driver doc
# If enabled, devices configured here are mapped on REST API /device/name
# Devices are also accessible in custom scripts using deviceInstance(name)
# See device driver doc for methods and URI scheme available

temp_garage = DS18B20 slave:28-000005e62ef1
temp_pool = DS18B20 slave:28-000005e6c3aa

temp_heat_pch_ret = DS18B20 slave:28-0000068a0b27
temp_heat_pch_dep = DS18B20 slave:28-0000068b08fb

temp_heat_pcp_dep = DS18B20 slave:28-000005e55732
temp_heat_pcp_ret = DS18B20 slave:28-000005e4d303

temp_heat_pcs_dep = DS18B20 slave:28-00000689e1f1
temp_heat_pcs_ret = DS18B20 slave:28-000005e6287b

#------------------------------------------------------------------------#

[REST]

#------------------------------------------------------------------------#

[ROUTES]
# Custom REST API route syntax :
# source = destination
#   source      : URL to route
#   destination : Resulting URL
# Adding routes allows to simplify access with Human comprehensive URLs

/pool/light = /GPIO/2/value
/pool/temp = /devices/temp_pool/sensor/temperature/c
/pool/filtration = /GPIO/3/value
/pool/dosi = /GPIO/9/value

/garage/door = /GPIO/24/value
/garage/temp = /devices/temp_garage/sensor/temperature/c

/heat/temp_heat_pcp_dep = /devices/temp_heat_pcp_dep/sensor/temperature/c
/heat/temp_heat_pcp_ret = /devices/temp_heat_pcp_ret/sensor/temperature/c
/heat/temp_heat_pcs_dep = /devices/temp_heat_pcs_dep/sensor/temperature/c
/heat/temp_heat_pcs_ret = /devices/temp_heat_pcs_ret/sensor/temperature/c

/heat/temp_heat_pch_dep = /devices/temp_heat_pch_dep/sensor/temperature/c
/heat/temp_heat_pch_ret = /devices/temp_heat_pch_ret/sensor/temperature/c
